In [1]:
import data_util

import sqlite3

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
con = sqlite3.connect('data/database/snp.db')

In [3]:
stmt = """
        SELECT * FROM snp
       """

query = pd.read_sql(stmt, con)
query

,id,exchange_url,symbol,security,sector,sub_industry,hq_location,date_added,CIK,founded
0,1,https://www.nyse.com/quote/XNYS:MMM,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,2,https://www.nyse.com/quote/XNYS:AOS,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,3,https://www.nyse.com/quote/XNYS:ABT,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,4,https://www.nyse.com/quote/XNYS:ABBV,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,5,https://www.nyse.com/quote/XNYS:ACN,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...,...
495,496,https://www.nyse.com/quote/XNYS:XYL,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
496,497,https://www.nyse.com/quote/XNYS:YUM,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
497,498,https://www.nasdaq.com/market-activity/stocks/...,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
498,499,https://www.nyse.com/quote/XNYS:ZBH,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
499,500,https://www.nyse.com/quote/XNYS:ZTS,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [5]:
stmt = """
        SELECT * FROM stock
       """

query = pd.read_sql(stmt, con)
query

          id symbol         date    open    high     low   close   volume
0          1     DE  Oct-14-2025  436.08  449.83  433.00  447.95  1258400
1          2     DE  Oct-13-2025  449.37  450.00  437.46  439.11  1758500
2          3     DE  Oct-10-2025  456.87  460.62  441.89  446.35  1581100
3          4     DE   Oct-9-2025  461.89  462.60  455.01  456.22   992700
4          5     DE   Oct-8-2025  462.38  466.63  455.59  460.75   915300
...      ...    ...          ...     ...     ...     ...     ...      ...
97995  97996   ZBRA   Jan-8-2025  393.83  399.80  391.10  397.00   413600
97996  97997   ZBRA   Jan-7-2025  395.42  399.37  393.19  396.11   353800
97997  97998   ZBRA   Jan-6-2025  394.17  401.29  394.17  395.33   304400
97998  97999   ZBRA   Jan-3-2025  383.03  392.50  383.03  391.86   357900
97999  98000   ZBRA   Jan-2-2025  386.50  392.59  380.49  383.76   342700

[98000 rows x 8 columns]